:root {
    --white: #ffffff;
    --yellow: #FFC900;
    --secyellow: #FFF89A;
    --blue: #1A5F7A;
    --secblue: #086E7D;
    --gray: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

p {
    font-size: 0.875rem;
}


/* -------------------------------------General css------------------------------------- */

.section-tittle {
    padding: 5.625rem 0rem 3.125rem 0rem;
}

.section-tittle h2 {
    position: relative;
    text-align: center;
    color: var(--gray);
    font-size: 1.875rem;
    font-weight: 400;
    text-transform: uppercase;
}

.section-tittle p {
    text-align: center;
    color: var(--gray);
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.75rem;
    margin-top: 2.8125rem
}

.section-tittle h2:after {
    content: "";
    position: absolute;
    bottom: -1.25rem;
    left: 45%;
    width: 5.75rem;
    height: 0.0625rem;
    background-color: var(--yellow);
}


/* ------------------------------------Header-------------------------------------- */

.header {
    background-image: url("../images/header-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -webkit-background-size: cover;
}

.header-overlay {
    background-color: rgba(31, 31, 31, 0.75);
}

.logo {
    padding-top: 1.25rem;
    padding-bottom: 3.125rem;
}

.header-text h1 {
    color: white;
    font-size: 2.500rem;
    font-weight: 300;
    line-height: 3.813rem;
    padding-top: 1.875rem;
    text-transform: uppercase;
}

.header-text p {
    color: white;
    font-size: 1.063rem;
    font-weight: 300;
    line-height: 1.75rem;
}

.header-btns {
    margin-top: 5.625rem;
    margin-bottom: 3.125rem;
}

.btn-download,
.btn-download:focus,
.btn-download:active,
.btn-download:visited {
    background: transparent;
    border-color: var(--yellow);
    padding-top: .625rem;
    padding-bottom: .625rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    border-radius: .1875rem;
    -webkit-transition: all 1s;
    transition: all 1s;
    color: var(--yellow);
    font-weight: 400;
}

.btn-download:hover {
    background-color: var(--yellow);
    color: white;
}

.btn-tour,
.btn-tour:focus,
.btn-tour:active,
.btn-tour:visited {
    color: var(--yellow);
    margin-left: 1.25rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 400;
    background: transparent;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.btn-tour:hover {
    color: white;
}

.btn-tour i {
    font-size: 1.25rem;
    padding-left: .3125rem;
    color: var(--yellow);
    -webkit-transition: all 1s;
    transition: all 1s;
}

.btn-tour:hover i {
    color: white;
}

.header-iphone img {
    width: 100%;
}


/* ----------------------------------about us---------------------------------------- */

.choose-us-wrapper {
    padding-top: 3.125rem;
}

.about-iphone img {
    margin-top: .5rem;
}

.choose-us-tittle {
    padding-bottom: 3.125rem;
}

.choose-us-tittle h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.875rem;
    line-height: 2.3125rem;
    position: relative;
    color: var(--gray);
}

.choose-us-tittle h2:after {
    content: "";
    position: absolute;
    bottom: -.75rem;
    left: 0%;
    width: 6.75rem;
    height: 0.0625rem;
    background-color: var(--yellow);
}

.choose-us-tittle p {
    margin-top: 2.5rem;
    font-size: 1.125rem;
    line-height: 1.5rem
}

.choose-us-item {
    position: relative;
    padding: 0rem 0rem .25rem 5rem
}

.choose-us-item div {
    position: absolute;
    top: 0;
    left: 0;
}

.choose-us-item div i {
    font-size: 2.5rem;
    color: var(--yellow);
    transition: all 1s;
    -webkit-transition: all 1s;
}

.choose-us-item h3 {
    font-size: 1.25rem;
    color: var(--blue);
    text-transform: uppercase;
    font-weight: 800;
}

.choose-us-item p {
    font-size: .9375rem;
    color: var(--gray);
}


/* --------------------------------------testimonial------------------------------------ */

.testimonial {
    background-image: url("../images/testimonial-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.testimonial-overlay {
    background-color: rgba(31, 31, 31, 0.75);
    padding: 5rem 0rem 5rem 0rem;
}

.carousel-indicators {
    bottom: -0.625rem;
}

.carousel-indicators [data-bs-target] {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
}

.carousel-inner .carousel-item img {
    border: .125rem solid var(--yellow);
    border-radius: 50%;
    padding: .1875rem
}

.carousel-indicators .active {
    opacity: 1;
    background-color: var(--yellow);
}

.testimonial-caption {
    padding-bottom: 4.375rem;
}

.testimonial-caption h2 {
    color: var(--yellow);
    text-transform: capitalize;
    font-weight: 900;
    font-size: 1.875rem;
    margin-top: 1.5625rem;
}

.testimonial-caption h4 {
    color: var(--yellow);
    text-transform: capitalize;
}

.testimonial-caption h4 span {
    color: var(--white);
    font-style: italic;
    font-weight: 300;
    text-transform: capitalize;
}

.testimonial-caption p {
    color: var(--white);
    font-size: 1.125rem;
    line-height: 1.6875rem;
    padding-top: 3.125rem;
}


/* -------------------------------------features------------------------------------- */

.features-inner-wrapper {
    padding: 1.875rem 0rem;
}

.left-feature-item {
    position: relative;
    padding-right: 5.625rem;
    margin-bottom: 4.0625rem;
    text-align: right;
    margin-top: 2.1875rem;
}

.left-feature-item-icon {
    position: absolute;
    right: 0;
    top: -0.5rem;
    font-size: 2.5rem;
    color: var(--yellow);
    width: 5.625rem;
    height: 5.625rem;
    text-align: center;
}

.left-feature-item h3 {
    text-transform: uppercase;
    font-size: 1.5625rem;
    font-weight: 700;
    margin-bottom: 1.3125rem;
    color: var(--blue)
}

.left-feature-item p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.75rem;
    color: var(--gray)
}

.feature-iphone img {
    width: 100%;
}

.right-feature-item {
    position: relative;
    padding-left: 5.625rem;
    margin-bottom: 4.0625rem;
    text-align: left;
    margin-top: 2.1875rem;
}

.right-feature-item-icon {
    position: absolute;
    left: 0;
    top: -0.5rem;
    font-size: 2.5rem;
    color: var(--yellow);
    width: 5.625rem;
    height: 5.625rem;
    text-align: center;
}

.right-feature-item h3 {
    text-transform: uppercase;
    font-size: 1.5625rem;
    font-weight: 700;
    margin-bottom: 1.3125rem;
    color: var(--blue)
}

.right-feature-item p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.75rem;
    color: var(--gray);
}


/* --------------------------------------purchase-now------------------------------------ */

.purchase-now {
    background-color: var(--blue);
    padding: 6.25rem 0rem;
}

.purchase-now p {
    color: var(--white);
    font-size: 1.125rem;
    font-weight: 300
}

.btn-purchase-now,
.btn-purchase-now:active,
.btn-purchase-now:focus,
.btn-purchase-now:visited {
    border: .0625rem solid var(--white);
    padding: .9375rem 2.1875rem;
    background: transparent;
    border-color: var(--yellow);
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-transition: all 1s;
    transition: all 1s;
    color: var(--yellow);
    font-weight: 400;
}

.btn-purchase-now:hover {
    background-color: var(--yellow);
    color: white;
}


/* -----------------------------------counter--------------------------------------- */

.counter {
    background-image: url("../images/counter-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -webkit-background-size: cover;
}

.counter-overlay {
    padding: 7.5rem 0rem;
    background: rgba(0, 0, 0, .4)
}

.counter-item h2 {
    font-family: "source sans pro", sans-serif;
    color: var(--white);
    font-size: 2.1875rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: .9375rem 0rem .0625rem 0rem;
}

.counter-item i {
    color: var(--yellow);
    font-size: 3.75rem;
}

.counter-item p {
    color: var(--white);
    text-align: center;
    margin-top: 0rem;
    font-size: 1.25rem;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "source sans pro", sans-serif;
}


/* --------------------------------------download-now------------------------------------ */

.download-now img {
    width: 100%;
}

.available-on {
    background-color: var(--blue);
    margin-top: -0.5rem;
    position: relative;
}

.available-tittle {
    padding-top: 4.6875rem;
}

.available-tittle h2 {
    color: var(--white);
    font-size: 1.875rem;
}

.available-tittle p {
    color: var(--white);
}

.available-on-item {
    text-align: center;
    border-left: .0625rem solid var(--blue);
    min-height: 14.375rem;
    padding-bottom: .9375rem;
    position: relative;
    transition: all 1s;
}

.available-on-item:hover {
    background-color: var(--secyellow);
    color: var(--blue)
}

.available-on-item:hover i {
    color: var(--blue)
}

.available-on-item i {
    color: var(--yellow);
    text-align: center;
    opacity: 1;
    font-size: 2.5rem;
    padding-top: 5.625rem;
    transition: all 1s;
}

.no-padding {
    padding: 0
}

.available-on a {
    text-decoration: none;
    color: var(--yellow)
}


/* ------------------------------------contact us-------------------------------------- */

.contact-us-form .form-control {
    display: block;
    width: 100%;
    height: 3.125rem;
    padding: .375rem .75rem;
    font-size: .875rem;
    line-height: 1.3125rem;
    color: #555;
    background-color: transparent;
    border: .0625rem solid #aeaeae;
    border-radius: .1875rem;
    margin-bottom: .9375rem;
    opacity: .8;
    outline: 0rem !important;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}

#message {
    height: 7.3125rem;
    resize: none;
}

.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited {
    border: .0625rem solid var(--blue);
    background: transparent;
    border-color: var(--blue);
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-transition: all 1s;
    transition: all 1s;
    color: var(--blue);
    font-weight: 400;
    /*  */
    width: 100%;
    height: 3.125rem;
    outline: 0rem !important;
    transition: all 1s;
}

.submit-btn:hover {
    background: var(--yellow);
    color: #fff;
    border-color: var(--yellow);
}

.social-icons {
    padding-top: 3.125rem;
    padding-bottom: 4.375rem;
}

.social-icons ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.social-icons ul li {
    list-style: none;
    display: inline;
    padding-left: .625rem;
}

.social-icons ul li a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border: .0625rem solid var(--blue);
    ;
    border-radius: .1875rem;
    width: 2.8125rem;
    height: 2.8125rem;
    line-height: 3.0625rem;
    color: var(--blue);
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}

.social-icons ul li a:hover {
    background-color: var(--yellow);
    border: .0625rem solid var(--yellow);
    color: #fff;
}

.social-icons ul li a i {
    font-size: 1.25rem;
}