* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

p {
    font-size: 0.875rem;
}


/* ------------------------------------Header-------------------------------------- */

.header {
    background-image: url("../images/header-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -webkit-background-size: cover;
}

.header-overlay {
    background-color: rgba(31, 31, 31, 0.75);
}

.logo {
    padding-top: 1.25rem;
    padding-bottom: 3.125rem;
}

.header-text h1 {
    color: white;
    font-size: 2.500rem;
    font-weight: 300;
    line-height: 3.813rem;
    padding-top: 1.875rem;
    text-transform: uppercase;
}

.header-text p {
    color: white;
    font-size: 1.063rem;
    font-weight: 300;
    line-height: 1.75rem;
}

.header-btns {
    margin-top: 90px;
    margin-bottom: 50px;
}

.btn-download,
.btn-download:focus,
.btn-download:active,
.btn-download:visited {
    background: transparent;
    border-color: #F3DE08;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.25rem;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-transition: all 1s;
    transition: all 1s;
    color: #F3DE08;
    font-weight: 400;
}

.btn-download:hover {
    background-color: #F3DE08;
    color: white;
}

.btn-tour,
.btn-tour:focus,
.btn-tour:active,
.btn-tour:visited {
    color: #F3DE08;
    margin-left: 1.25rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 400;
    background: transparent;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.btn-tour:hover {
    color: white;
}

.btn-tour i {
    font-size: 1.25rem;
    padding-left: 5px;
    color: #F3DE08;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.btn-tour:hover i {
    color: white;
}

.header-iphone img {
    width: 100%;
}